<h1>My halls</h1>
<table>
  <tr>
    <th>Hall name</th>
    <th>Belongs to storage</th>
    <th>Size</th>
  </tr>

  <% @halls.each do |hall| %>
    <tr>
    <td><%= link_to hall.name, hall_path(hall) %></td>
    <td><%= link_to hall.storage.name, storage_path(hall.storage.id) %></td>
    <td><%= hall.width || 0 %> x <%= hall.length || 0 %></td>
    <td><%= link_to 'Edit', edit_hall_path(hall) %></td>
    <td><%= link_to 'Destroy', hall, method: :delete, data: { confirm: 'Sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Create a new hall', new_hall_path %>