<style>
    table, td { border: 1px solid black;}
    td { width: 50px; height: 50px; }
</style>

<h1>Hall "<%= @hall.name %>"</h1>
<p>Belongs to storage <%= link_to @hall.storage.name, storage_path(@hall.storage.id) %>.</p>
<table>
  <% for y in 1..@hall.length %>
  <tr>
    <% for x in 1..@hall.width %>
    <td>x: <%= x %><br /> y: <%= y %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_hall_path(@hall) %>